.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
  margin: 16px;
}

.product-card img {
  max-width: 100%;
}

.product-card h3 {
  margin-top: 8px;
}

.product-card p {
  margin: 8px 0;
}

.product-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
